.top-menu {
  text-align: right;
  background-color: #11252F;
}
header .top-menu a {
  color: white;
  font-size: 12px;
  padding-left: 10px;
  vertical-align: center;
}
header .main-menu {
  background-color: #183544;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .main-menu img {
  height: 30px;
  margin-left: 20px;
}
header .main-menu .right-menu {
  margin-top: 15px;
}
#site-logo {
  height: 60px;
}
header .main-search {
  display: inline-block;
  margin-left: 50px;
  width: 400px;
}
header .main-search input {
  border: none;
}
header .main-search button {
  background-color: #F36F36;
  color: white;
}
.pull-right {
  float: right;
}